.footer {
    background-color: rgb(17, 20, 23);
    color: #bbb;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    font-size: 14px;
    border-top: 1px solid rgba(81, 186, 209, 0.7);
}

.social-icons {
    display: flex;
    gap: 20px;
    justify-content: flex-end; 
}

.social-icons a {
    color: #fff;
    font-size: 28px;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease, background 0.3s ease;
    display: inline-block;
}

.social-icons a:nth-child(1):hover {
    color: #0077b5;
    transform: scale(1.2);
}

.social-icons a:nth-child(2):hover {
    color: #fff;
    transform: scale(1.2);
}

.social-icons a:nth-child(3):hover {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
}

.copyright {
    font-size: 14px;
    color: #bbb;
    text-align: left; 
}

@media (max-width: 750px) {
    .footer {
        flex-direction: column; 
        text-align: center; 
        padding: 20px 10px; 
    }

    .social-icons {
        margin-top: 10px; 
        justify-content: center; 
    }

    .copyright {
        font-size: 12px;
        margin-top: 10px;
        text-align: center; 
    }

    .social-icons a {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .social-icons a {
        font-size: 20px; 
    }
}
